[submodule "vendor/hayai"]
	path = vendor/hayai
	url = https://github.com/nickbruun/hayai
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "vendor/picojson"]
	path = vendor/picojson
	url = https://github.com/kazuho/picojson
